/* ______________________
Site_Header 
________________________*/

.blue_text{
    color: #006aff;
}

.grey{
    background-color: #f3f5f9;
}
.grey_text{
    color: #7b869f;
}

/* Nav Bar */
#site_header .nav_bar{
    /* background-color: blueviolet; */
    height: 50px;
}
#site_header .nav_bar .container{
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

img.logo{
    height: 30px;
}

.fas.fa-bars{
    font-size: 25px;
    color: #006aff;
    display: none;
}

div.menu ul, div.side_menu ul{
    display: flex;
    list-style: none;
}
div.menu ul{
    justify-content: center;
}
div.side_menu ul{
    justify-content: flex-end;
}
div.menu{
    flex-grow: 2;
}
div.side_menu{
    flex-grow: 1;
}

div.menu li, div.side_menu li{
    margin-left: 40px;
}
a.menu_items{
    text-decoration: none;
    color: black;
}
.fa-chevron-down{
    line-height: 100%;
    vertical-align: middle;
    font-size: 13px;
}
a.btn{
    padding: 7px;
    color: #006aff;
    border: 1px solid #006aff;
    border-radius: 3px;
}
/* /Nav Bar */

/* Jumbotron */
.jumbotron{
    background-image: url("../img/bg-banner-home.jpg");
    /* padding-top: 40px;
    padding-bottom: 40px; */
}

/* Left Side */
.jumbotron .col-lg-7{
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 125px;
}
.jumbotron h1.title{
    font-size: 60px;
    line-height: 60px;
}

.jumbotron .col-lg-7 p{
    font-size: 20px;
    line-height: 25px;
    margin-top: 20px;
}
/* /Left Side */

/* Right Side */
.jumbotron .col-lg-5{
    padding-top: 40px;
    padding-bottom: 40px;
    /* padding-left: 90px; */
    
}
.card_form{
    background-color: white;
    /* height: 250px; */
    /* width: 400px; */
    border-radius: 5px;
    text-align:center;
    padding: 20px 20px;
}

.card_form h2{
    font-size: 25px;
}

.form_items{
    display: block;
    width: 100%;
    font-size: 16px;
    line-height: 40px;
    border-radius: 5px;
    margin-top: 12px;
}
button.form_items{
    font-size: 15px;
}

/* Form Buttons */
.btn_1{
    background-color: #006aff;
}
.btn_1 a{
    color: white;
    text-decoration: none;
}
.btn_2{
    background-color: white;
    position: relative;
}
.btn_2 a{
    color: #006aff;
    text-decoration: none;  
}

.G_oogle{
    height: 20px;
    vertical-align: middle;
    position: absolute;
    left: 5px;
    top: 10px;
}
/* /Form Buttons */
.card_form p{
    font-size: 12px;
    margin-top: 10px;
}
/* /Right Side */

/* Header MediaQuery */
@media screen and (min-width:768px) and (max-width:991px) {
    div.menu, div.side_menu{
        display: none;
    }

    img.logo{
        padding-left: 50px;
    }
    
    .fas.fa-bars{
        display: inline-block;
        padding-right: 50px;
    }

    .jumbotron .row{
        padding-top: 50px;
    }

    .jumbotron h1.title{
        font-size: 40px;
        line-height: 45px;
    }
    .jumbotron .col-md-7 p{
        font-size: 20px;
    }
   
    .jumbotron .col-md-7{
        padding-left: 50px;
        padding-right: 20px;
    }
    .jumbotron .col-md-5{
        padding-right: 50px;  
    }
}

@media screen and (max-width:767px) {
    div.menu, div.side_menu{
        display: none;
    }

    img.logo{
        padding-left: 15px;
    }
    
    .fas.fa-bars{
        display: inline-block;
        padding-right: 15px;
    }

    .jumbotron .row{
        padding-top: 40px;
        padding-bottom: 80px;
    }

    .jumbotron h1.title{
        font-size: 60px;
        line-height: 60px;
    }
    .jumbotron .col-md-7.col-xs-12 p{
        font-size: 20px;
    }
    .jumbotron .col-xs-12{
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 0;
    }

    .jumbotron .col-lg-7.col-md-7.col-xs-12 p{
        margin-top: 5px;
    }

    .jumbotron .col-lg-5.col-md-5.col-xs-12{
        padding-top: 5px;
    }
}
/* /Header MediaQuery */

/* ______________________
/Site_Header 
________________________*/


/* ______________________
Main
________________________*/

/* First Grey Pannel */
.first_pannel.grey{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 30px;
}

img.brand.col-lg-2{
   height: 150px;   
   padding: 10px; 
}

#site_main a{
    text-decoration: none;
}
/* /First Grey Pannel */
/* First Grey Pannel MediaQuery */
@media screen and (min-width:768px) and (max-width:991px) {
    img.brand.col-md-2{
        height: 75px;   
        padding: 5px; 
     }

     article.grey_text{
         font-size: 15px;
     }

     a.blue_text.review{
         font-size: 15px;
     }

     .first_pannel.grey{
        padding-top: 20px;
        padding-bottom: 10px;
     }
}
@media screen and (max-width:767px) {
    img.brand.col-lg-2.col-md-2.col-xs-6{
        height: 200px;
        padding: 20px 50px;
    }
}

/* /First Grey Pannel MediaQuery */